[2018-03-15 20:46] kgoggin opened #10 "Support for complex field types"
Based on my understanding of how things are set up, it looks like you can only have fields of type `string`, as that's the type of `Formality__Validation__value`, and the `get` method must return that type. It'd be really great to support more complex types. For example: a group of checkboxes whose value is represented in state as an array of the string values of the selected options.

I noticed y

[2018-03-16 05:12] kgoggin opened #11 "Provide option to not reset form on submit"
I can definitely understand resetting the form after a successful submit as the default behavior, but it'd be great if there were a way to prevent this in some cases. For instance, I'm working on a form that provides filter values for a list of data. On submit, the list gets refreshed with the new filter values... but my form resets so loses the user's input. I'd rather have it keep the same state

[2018-03-16 05:48] alexfedoseev commented on #11
@kgoggin Yeah, agreed. I already started working on form status implementation. It should solve this kind of issues.

Basically, form status type will be something like this:

[code]

And I will expose reset handler so users will be able to trigger it manually in case if they want to reset the form or keep success message on the screen or whatever.

This is related to this discussion: https://reas

[2018-03-16 07:35] alexfedoseev commented on #10
TBH I haven't put much thinking into this yet but outlined two directions to investigate:

1. Make value a variant:

[code]

2. Define `value` type in user land (in form config).

[2018-03-16 14:35] kgoggin commented on #10
Yeah I was thinking about it as well. It seems ideal to be able to let the user define the type, but also like that might add a lot of complexity. Also, it's kind of a pain to have to define a `value` type as the user when in the majority of cases it's just `string` - but I don't think you could default the type, right?

OTOH if you go with the basic variant you're likely to just keep having to ad

[2018-03-16 15:54] alexfedoseev commented on #10
Yeah, this is exactly the reason why I haven't implemented it yet. It's like rabbit hole. Also, every user gets perf penalty due to allocations, even if they don't need anything but string.

I just checked sources real quick and it seems delegating value definition to user is not a big issue. Formality (almost) doesn't care about the value itself, it just passes things around. The only thing that

[2018-03-16 16:59] alexfedoseev commented on #10
Oh well... looks like it's implemented #12

[2018-03-17 07:42] alexfedoseev commented on #10
@kgoggin Try `0.5.0` and let me know how it works for your use cases. I'm really curious how it scales!

[2018-03-17 07:42] #10 closed

[2018-03-19 19:39] kgoggin commented on #10
@alexfedoseev just upgraded and converted over my form and it's working great! Thanks so much!

[2018-03-22 11:24] tmepple opened #13 "Example of server generated error after submitting?"
Thanks for this great library!

I was looking at the `LoginForm.re` example for how to handle a server generated error message which is returned after submitting... such as "invalid login username or password".  I see we should call `notify.onFailure` but I'm not sure how to inject the server error string so it's returned with `form.results` on a specific field and can be rendered similarly.

I gu

[2018-03-22 11:29] alexfedoseev commented on #13
@tmepple Sorry, no way for now. But I'm working on it and I will pick up the pace 👍

Check out for more details: https://github.com/alexfedoseev/re-formality/issues/11#issuecomment-373610276

[2018-03-22 11:34] tmepple commented on #13
Ah, wow that looks really cool.  Ok, I will store/render any server errors using local state at this point and look forward to the new release.  Thanks for working on it!

[2018-03-22 11:34] #13 closed

[2018-03-27 02:30] alexfedoseev commented on #11
`re-formality 0.7.0 published`. Let me know if you find any issues!

[2018-03-27 02:30] #11 closed

[2018-05-10 21:11] kgoggin opened #22 "Provide data on overall validation state of the form"
Hey, it's me again! 👋 Got another enhancement I'd like to suggest:

It'd be great if the `form` interface provided some kind of overall validation status. Basically, `true` if each field is valid, `false` if any field isn't valid. I think I could theoretically gather up the results of calling `form.status` for each field, but that seems like a pain to have to do for each field, for each form. My u

[2018-05-13 09:35] alexfedoseev commented on #22
@kgoggin Hey, sorry for a long response! I had a tough week which isn't over yet. I'll get back to you once I’m done w/ the work stuff, in the middle of the next week.

[2018-05-17 15:46] alexfedoseev commented on #22
@kgoggin Use case is totally valid. One concern tho: proposed implementation (`bool` field on `form` record) presumes that internally container must trigger validator of each field on every update and it will affect every user even if they don't use this feature. Also, it might affect perf on long forms.

What about this: instead of actually performing validation and expose result we can expose fu

[2018-05-18 06:05] alexfedoseev commented on #22
Alright, can you work on this?

[2018-05-18 14:58] kgoggin commented on #22
Sure! Not sure how quickly I'll be able to get to it but I'd be happy to take a shot at it!

[2018-05-18 15:02] alexfedoseev commented on #22
Awesome! No rush 😄

[2018-06-16 17:30] arecvlohe opened #25 "Thank you!"
This is a very well thought out library on form validation. Learning a lot about Reason by reading through the documentation and code. Thanks for creating!

[2018-06-17 08:40] alexfedoseev commented on #25
My pleasure!

[2018-06-17 08:40] #25 closed

[2018-06-25 05:23] alexfedoseev opened #27 "Switch to Belt"
After: https://github.com/BuckleScript/bucklescript/issues/2866

[2018-06-30 21:52] liamcurry opened #29 "Dynamic forms options?"
First of all thank you @alexfedoseev for creating this, it's the best form library I've seen for ReasonML so far.

I'm working on a form that has a field that is an array of strings, where options can be dynamically added and removed. There should be between 2-30 items in the array, and each string should be between 1-140 characters.

This seems like it should be possible, but I'm wondering if you

[2018-07-01 04:56] liamcurry commented on #29
Ok so my current solution for this isn't pretty but it works. Maybe this can be improved, please let me know if you have suggestions:

- In my `field` type I have three fields related to options: `Option(int)`, `AddOption`, and `DelOption(int)`, where the `int` variables are the indexes in the array.
- In my `get` function only the `Option(int)` field returns an actual value, as the other two are

[2018-07-19 02:58] hulufei opened #30 "Why can't extract change and blur handler?"
Hi, thanks for creating this library.

I noticed there is a common pattern like:

[code]

So I tried to extract two functions to handle this:

[code]

Then it doesn't validate any more, why?

[2018-07-19 03:49] alexfedoseev commented on #30
@hulufei I can't say from these snippets where these helpers are defined and my question is: should you pass `form` record to the helper as well? E.g.:

[code]

[2018-07-20 09:07] alexfedoseev commented on #30
Hmm, that's odd. I need to get married now but I will look into this soon.

[2018-07-20 10:47] hulufei commented on #30
@alexfedoseev Congratulations! take your time:)

[2018-10-02 21:52] baransu opened #34 "Complex forms"
I'm trying to migrate plain reducer component that handles updates/validation of my form to `re-formality`. My form is complex and I'm having hard time thinking about correct values/fields/updaters. Here is type of the state:
[code]
For me it's really hard example. I want to have all functionality (like validation) available for even most nested values. Current API allows you to manage "one level

[2018-10-07 02:08] alexfedoseev opened #35 "API overhaul"
### Major
- [ ] Fast pipe API
- [ ] Switch to `Belt` data structures
- [ ] Pack validators into `list` instead of `Map`
- [ ] Handle `value` using GADTs

### Minor
- [ ] Use [`re-debouncer`](https://github.com/alexfedoseev/re-debouncer/)

### Details
#### Fast pipe API
Change all functions to data-first style.

#### Switch to `Belt` data structures
Right now library uses OCaml std `Map` & `Set`. I

[2018-10-07 07:33] alexfedoseev commented on #35
First 3 major items are almost complete. Switch to `Belt` and to `list` of validators removed lots of unnecessary layers, good stuff.

[2018-10-08 09:39] baransu commented on #35
Thank you for those improvements!  🎉

Few things I've notices when using this library.
### Validation
I created abstraction over validation to remove API surface as much as possible. This is the example validation I have:
[code]
I probably misuse the API because I don't care about the `value` and about getter in form in general and use custom getter. For me it's easier to combine small validators

[2018-10-10 05:10] #35 closed

[2018-10-10 10:51] alexfedoseev commented on #30
@hulufei I tested all possible ways to extract handlers with changes in #37 and it worked for me. Will release soon. Feedback on those changes are also appreciated.

[2018-10-10 13:14] alexfedoseev commented on #34
This is somewhat similar to #29 and I haven't looked into complex examples yet. Can't promise anything concrete but I'll look into forms w/ complex structure sooner or later.

[2018-10-10 14:19] alexfedoseev commented on #27
#36

[2018-10-10 14:19] #27 closed

[2018-10-11 08:29] alexfedoseev opened #38 "`result` type"
Before final `1.0.0` I want to discuss one more thing: `result` type.

[code]

Now it's not perfectly clear that both `Valid` & `Optional` are OK and only `Invalid` is show-stopper. It's also possible to mess something up by misuse `Optional` constructor. My proposal is to leverage `Result` type to make things perfectly clear:

[code]

Thoughts?

[2018-10-11 09:09] baransu commented on #38
For me, it would be a great change. Using `Belt.Result` module with functionality like `map`/`isError`/`isOk` gives great foundations for userland abstractions over `re-formality`.

[2018-10-11 09:15] alexfedoseev commented on #38
💯 agree, doing this.

[2018-11-17 15:40] #22 closed

[2018-11-17 15:44] alexfedoseev commented on #30
@hulufei I'm closing this, feel free to re-open if it's still an issue for you.

[2018-11-17 15:44] #30 closed

[2018-12-16 05:38] alexfedoseev opened #43 "Dynamic forms"
After poking around dynamic forms implementation I don't see a sane way how to implement it w/o code generation.

I haven't figured out neither public api or exact internal implementation, just a rough prototype of config dsl:

[code]

I think from this I can get all data I need to generate proper `field`, `state` and some more internal types and lets to make dynamic forms possible but before goin

[2018-12-16 05:39] alexfedoseev commented on #29
Let's continue in #43

[2018-12-16 05:39] #29 closed

[2018-12-29 20:19] lewisf commented on #43
Forgive me if this is a bad question, but what would passing validators as props look like?

[2018-12-30 02:35] alexfedoseev commented on #43
@lewisf It should be the same way as it is right now but list of validators is passed via props.

[code]

[2019-01-04 14:55] baransu commented on #43
graphql_ppx uses GraphQL directives to pass pure functions for converting raw GraphQL data into more friendly Reason code. https://github.com/mhallin/graphql_ppx/blob/master/README.md#custom-field-decoders

For me it looks similar and could be possible solution to passing validators.
It all depends if it is a good thing in case we want to reuse form with different validators, then its harder.

[2019-01-08 05:36] alexfedoseev commented on #43
@baransu it's an option 👍

[2019-01-08 13:30] baransu commented on #43
I’ll be working a little bit on dynamic forms in the next week so I’ll try to share my feedback with some code samples :)

[2019-01-12 06:13] alexfedoseev commented on #43
Another option is not dealing w/ custom DSL and use record and attributes:

[code]

But in this case nested array item can't be defined inline :(

Prolly, we don't even need `[@nest]` b/c we can match `array` type:

[code]

[2019-01-12 08:34] alexfedoseev commented on #43
Scratch that, it won’t be possible to parse nested records.

[2019-01-12 21:59] baransu commented on #43
I've been playing with complex dynamic forms over the last few days that here is what I came up with.
***
My schema is rather complex. It was initially the same schema as in #34:
[code]
It's complex. I decided there is no way I can handle in the two-level nested record with reasonable API. So I changed the schema a little bit to have a better structure for my form. I ended up with this:
[code]
Rig

[2019-02-02 03:01] lukashambsch opened #44 "Updating form values from outside the form"
Hi! Thanks for the great library!

Is there a recommended way to update the form values from outside the form?

For example, I have a form where a couple fields will be re-calculated on the backend when another field changes. I'd like to see the form update when its initialValues change. Similar to Formik's `enableReinitialize` property.

[2019-02-04 17:13] lukashambsch commented on #44
I saw that, but it didn't sound like it was going to be merged soon. So, I was wondering if there was a way to do it w/o that functionality.

[2019-02-04 20:43] baransu commented on #44
It should be up to date with master so waiting for @alexfedoseev to decide what next 🙂

[2019-02-05 03:41] alexfedoseev commented on #44
Hey, sorry, I totally missed updates in #33. I looked into it real quick and I have few questions regarding provided use case. In the PR when initial state changes, `Reset` action is being dispatched, which means the whole validation state is dropped (and AFAICT current input is dropped as well in favor of updated initial input).

So 2 things to discuss:
1. I'm not sure if it's ok (UX wise) to dro

[2019-02-14 03:57] lukashambsch opened #45 "Global Form Validator"
Is there a way to create a global form validator?

My use case is with a form that just requires any one of the fields to be completed for it to be valid. I can put the validation on a single field, but then the error message makes it look like that field is required.

My thought was making `field` in the validator optional. So you could do something like this:
[code]

If there isn't a way now, do

[2019-02-15 05:36] alexfedoseev commented on #45
@lukashambsch Your validator looks good to me and I think you can solve UX issue by not displaying errors next to specific fields but somewhere where your users would consider an error as global to the form. Then, to figure out when to show an error you can just check results for each field and if any is in error state -> show global error. Does it work for you?

[2019-02-17 14:54] lukashambsch commented on #45
The validator I showed above doesn't work for me because `field` is defined as `None`. It seems like field is expecting a value instead of an option.

[2019-02-18 02:59] alexfedoseev commented on #45
Validator receives a state of a form, i.e. what you defined as a `state` type.

[2019-02-20 22:55] baransu commented on #44
My usecase is have the same form for create and update. When I mount my component, its asking server for details to display, if non provided nothing happens and user have empty form, if data is returned I replace the current form state with data from server. For me the usecase is the same as incremental key on Form component thats updated after API fulfillment. I’m not sure if its best solution bu

[2019-02-23 04:00] lukashambsch commented on #45
Got it. So for the field it takes in what I define as the field type. That makes sense. Thanks!

[2019-02-23 04:00] #45 closed

[2019-02-23 04:14] lukashambsch opened #47 "Passing form to child component"
I may be missing something easy here, but I want to trigger a save from outside the form component. So, I'm creating an event that my form will listen for to trigger the save. In order to do that I want to have access to the form state in the `didMount` function. So I'm creating a wrapper component passing the form as an attribute so I can access `form.state` inside `didMount`. Please let me know

[2019-02-23 05:02] alexfedoseev commented on #47
To get this type, you need to create `Form` module first:

[code]

I could make it generic to make it directly accessible like this:
[code]

But `FormConfig` is still required to construct this type and it's more verbose this way.

[2019-02-23 05:41] alexfedoseev opened #48 "Generalize payload of `FormStatus.SubmissionFailed` constructor"
I'm thinking of making payload of `FormStatus.SubmissionFailed` constructor generic, i.e. turn this:

[code]

into this:

[code]

I found that I never (literally, zero times) used current payload but do use domain specific error types all the time and put those in component state. With generic version it's still possible to use currently hardcoded type by defining it in user land but it would make

[2019-02-23 06:11] alexfedoseev commented on #48
Downside is that it will require addition of a type to a form config... 🤔

[2019-02-23 07:56] alexfedoseev commented on #44
@baransu This `replace` part sounds unsafe to me: what if user is on flaky connection, request hanged for some time and user started typing something in the form. Then request is resolved and all of the sudden current state is replaced w/ resolved data. Also, I would be quite surprised as a user to get an empty edit form.

TBH I incline to mental model where data fetching is not a form's concern,

[2019-02-23 12:34] baransu commented on #44
I totaly agree. As I said its not best solution but right now it works for me :)

[2019-03-04 21:53] baransu commented on #43
@alexfedoseev do you think there is anything we can move into dynamic forms direction?

[2019-03-07 10:31] alexfedoseev commented on #43
@baransu Sorry for the delay, the current state of things is: I have a draft of types for lexer and tokenizer and it's pretty much it.

My current situation is the following: I have a 2 main projects I'm working on right now—the client one and the personal one. The latter, the main consumer of this library, is in the pre-release mode and I need 1-2 months to clean things up for MVP. Besides the ti

[2019-03-07 11:45] baransu commented on #43
@alexfedoseev No problem. I have a fork that I'm maintaining for my company project and it works really well. Just today I've changed dynamic validators thing and I'm testing how it works on few forms. I'll post my observations and changes in this issue for the future.

I hope your personal project will be great! Let's get back to the topic once you have time again 🙂

[2019-03-07 12:03] alexfedoseev commented on #43
Sounds good, thanks for understanding!

[2019-04-10 04:39] #48 closed

[2019-04-13 10:27] baransu commented on #43
Since I write my description of the changes I've made a few things changed and I would really like to describe how our fork looks right now.

We made one significant change to that. We replace that with concept of optionaly regenerating validators after some change.
Regenerate function (or generate function) looks as follows:
[code]
and it can be passed as a optional argument to change function:
[

[2019-04-14 04:56] alexfedoseev commented on #43
@baransu In my initial sketch, I thought about making validators kinda static b/c validators list itself doesn't change over time, form state does. So you can provide all of them at the very beginning and never think about them afterwards. The main problem here is to represent array of entities in the current state. So internal structure needs to be changed to support these `entities`. Basically,

[2019-04-14 08:58] baransu commented on #43
That makes a lot of sense but to be honest I have no idea how to handle those arrays with static set of validators.
My solutions works with basiclly any kind of form including arrays/maps/changing item types in an array. I think DSL could be an option to reduce boilerplate but I dont known how it should look like and what code it should generate.

What do you think about my solution in particular?

[2019-04-15 02:16] lukashambsch commented on #47
Sorry for the delayed response. That helps a ton. Thanks!!

[2019-04-15 02:16] #47 closed

[2019-07-16 11:28] Coobaha opened #52 "FormId compare is not save"
hi @alexfedoseev

I've noticed that Formality__Form.re uses `Pervasives.compare`:
[code]

it will throw error in runtime if Form.field is complex type that has function or any other non-comparable type)

Maybe it should be something like this:
[code]

[2019-07-18 15:58] alexfedoseev commented on #52
Hey @Coobaha, sorry, I missed this issue since it's doesn't get to my personal feed anymore.

Can you elaborate on the use case? `module FieldId` would add quite a lot to public api: in terms of boilerplate and complexity. And I expect it'd be confusing for some users. So I'm not sure if it's worth it.

[2019-07-18 16:16] Coobaha commented on #52
@alexfedoseev no worries! :)

I guess it is possible to do without breaking change? by introducing 2functors, one is wrapper for current Form interface that will add current FieldId and another that will use custom FieldId provided by consumer.

My use case:

I use re-formality to render dynamic forms with dynamic validations.

A bit more details:

my `Form.state` is `Belt.Map.t(Meta.Id.Cmp.t, For

[2019-08-01 06:00] alexfedoseev commented on #52
@Coobaha AFAIU you suggest to turn current `Make` functor into a thin wrapper around underlying `MakeWithFieldId` functor (or something like that) that accepts custom `FieldId`. Mind to submit a PR?

[2019-08-01 06:02] Coobaha commented on #52
@alexfedoseev yeap, will do

[2019-08-01 16:15] Coobaha commented on #52
@alexfedoseev please check #53

[2019-08-13 15:22] esbullington opened #54 "License?"
There is no license file, but the project is listed as MIT in the package.json. Is that the correct license?

Thank you.

[2019-08-13 15:22] #54 closed

[2019-08-16 05:44] #52 closed

[2019-08-16 05:52] alexfedoseev commented on #54
@esbullington Yep, it's MIT. I added `LICENSE` to the repo.

[2019-09-26 14:29] jchavarri opened #56 "Side effects on error?"
I have this form that involves different screens, with routing between them etc. The state is global, and shared across screens (which are "dumb components").

I'm looking at re-formality as I think it could simplify a lot the current implementation (amazing work on the library!) but one thing I'm wondering is how to perform side effects on validation error.

In particular, I have to:

- change th

[2019-09-26 16:08] jchavarri commented on #56
I think what I'm suggesting if it'd make sense to return `UpdateWithSideEffects` here:

https://github.com/MinimaHQ/re-formality/blob/0bf641cdebfa2c544ee1711beff6873f040b669f/src/Formality__FormAsyncOnBlurWithId.re#L372-L377

so it becomes:

[code]

[2019-09-27 08:23] alexfedoseev commented on #56
@jchavarri Your suggestion makes sense to me 👍 Though I'd use a bit different name here b/c `onFailedValidation` might be confusing since this function would be called only when validation failed during submission attempt but not on every failed validation (e.g. on change or on blur). Something like `onFailedSubmissionValidation` is clearer but probably kinda long. Thoughts?

[2020-03-19 13:40] johnridesabike opened #62 "Warnings 40 and 42 with onSubmit callback"
If I have code like this:
[code]

I get these warnings:
[code]

I can get around it by doing this:
[code]

Which is kind of ugly, but I can also do this:
[code]

Note that using `open` instead of `open!` will also cause this warning:
[code]

Unless I'm missing something, all of these options feel hacky and aren't intuitive. I'm not familiar with the internals of re-formality, but my general sugges

[2020-03-19 14:03] alexfedoseev commented on #62
@johnridesabike In the next major version all types are defined in the `Formality` module. AFAIU it should address this issue, right?

And if you're just starting to use the lib, it makes sense to switch to the next api.

I'm almost finished with the docs: https://github.com/MinimaHQ/re-formality/tree/ppx/docs
And published RC: `re-formality@next`

[2020-03-19 15:30] johnridesabike commented on #62
Thanks! I just installed the new PPX version and it looks really nice. It does fix this specific issue, since those fields are simply namespaced with `Formality` now.

But the new version has created a whole new problem. Any time I access a field in `MyForm.input` I get warning 42:
[code]

I'd rather not turn warning 42 off, since I think it's useful in general.

[2020-03-19 15:37] alexfedoseev commented on #62
AFAIU warning 42 exists for [backcompat](https://discuss.ocaml.org/t/can-warning-42-be-ignored/2870). Not sure if it's useful in context of BuckleScript.

[2020-03-19 15:46] johnridesabike commented on #62
That makes sense. I'll keep it turned off for this project for now.

I didn't see if the new docs mention warning 42, but it's probably a good idea to tell users to turn it off. Especially since there are guides out there advising people to turn it on (like https://dev.to/yawaramin/ocaml-reasonml-best-practice-warnings-and-errors-4mkm).

Thanks for the help, and good luck with the new version!

[2020-03-19 15:46] #62 closed

[2020-03-19 17:06] alexfedoseev commented on #62
Indeed. I'll add it tomorrow. Thanks for suggestion and let me know if you have any questions!

[2020-03-21 12:04] alexfedoseev opened #63 "Clean up generated code"
- [ ] Drop field attributes from field type when saved in `Metadata`
- [ ] In some cases (records, maybe something else) order of items is reversed

[2020-03-21 12:10] alexfedoseev opened #64 "Reorder items in collections"
Currently, there's no way to change order of items in collections. There should be something like `form.reorderAuthors` exposed. API TBD.

[2020-03-21 12:13] alexfedoseev opened #65 "Split Formality module"
Probably, makes sense to move functions from Formality module to own modules to reduce bundle size. E.g. if user doesn't use async stuff or collections, those wouldn't get into the final bundle.

Unless tree shaking works these days. Haven't checked what's up with that for quite awhile.

[2020-03-21 12:15] alexfedoseev opened #66 "Add integration tests"
Cypress tests in `./specs`.

[2020-03-21 12:17] alexfedoseev opened #67 "Add more ppx tests"
Tests in `./lib/test`.

- ok cases
- errors snapshots

[2020-03-21 13:36] alexfedoseev opened #68 "Update handlers API"
Currently, field update handler takes function of type `input => input`. Mainly, b/c it guarantees that `input` value is not stale. But introduces unfortunate caveat:

[code]

This runtime error happens due to [React's `SyntheticEvent` being pooled](https://reactjs.org/docs/events.html#event-pooling). Since callback gets triggered asynchronously, by the time it gets called, the event is already nu

[2020-03-21 13:51] alexfedoseev opened #69 "Record value of a field"
There are 2 possible use-cases for record value. Both can use `[@field.entity]` attribute.

1. Deserialization of set of fields into single type:

[code]

2. Scoping set of fields. It might be useful when there is select in the form which affects  which set of fields would be shown to a user.

[code]

I'm not sure if the second one is useful though since it's possible to implement it using current

[2020-03-21 14:34] alexfedoseev commented on #43
I published RC (`re-formality@next`) with collections support. Closing this one. Let's proceed with the new issue if needed.

[2020-03-21 14:34] #43 closed

[2020-03-21 18:37] johnhaley81 commented on #68
I think that option 2 is my least favorite. You can get into situations where you have invalid state and there is no good work around for it.

I see your point about keeping the API as small as possible. If that's the goal then option 1 seems the best.

I have seen in a few libraries the type of pattern in option 3. Where the user has a base function that handles the normal case and a more powerfu

[2020-03-22 09:23] alexfedoseev commented on #68
Oh I forgot one more option we discussed in PR that's prolly the best of both worlds.

We can add optional flag to ppx:

[code]

And default it to `react-dom`.

Then API would be:

[code]

[2020-03-22 17:28] johnhaley81 commented on #68
Could that be at a per file level? We have a monorepo with both react native and web apps which would cause is to use this in one of the other but never both.

[2020-03-22 17:45] alexfedoseev commented on #68
What about environment variable `FORMALITY_TARGET`?

[2020-03-23 00:42] johnhaley81 commented on #68
We compile everything together so a flag like that would be about the same for us. Could we do something like:

[code]

[2020-03-23 06:12] alexfedoseev commented on #68
Just checked, should be possible!

We can use environment variable `FORMALITY_TARGET ` that would affect all modules. So if a project targets only `ReactNative`, it wouldn't be required to add local pragma everywhere:

And local override:

[code]

---
PPX flag vs environment variable: I don't use ReactNative so question. Is it common case to have package with `Component` that can be used in both `

[2020-03-23 06:48] johnhaley81 commented on #68
We do have some components that do cross over the web/native boundary. An environment variable with a local override sounds like a pretty nice flexible solution.

[2020-03-23 07:17] alexfedoseev commented on #68
@johnhaley81 And one more question: is there a pooling issue in react native?

Usually, 2 things are useful from event target: `value` and `checked` (correct me if I miss something). With current `reason-react` I don't need to know if target is checkbox or not: I can relatively safely extract  `value` and `checked` from event target  and expose both to the handler.

But if in react-native input co

[2020-03-23 07:40] alexfedoseev commented on #68
Or maybe I can expose `event.target` itself on the web (so I don’t need to extract things from it in abstraction) and _not sure what_ in react-native...

[2020-03-23 08:34] alexfedoseev commented on #68
Looks like event is not required at all in react-native.

[2020-03-23 15:53] johnhaley81 commented on #68
@alexfedoseev I'm not sure if there is a pooling issue in react-native. CC @endlo @maxkorp

[2020-03-23 16:18] alexfedoseev commented on #68
My assumptions are based on:
- https://reactnative.dev/docs/textinput#onchangetext
- https://reactnative.dev/docs/switch#onvaluechange

But there are similar handlers that receive events, so I'm not sure.

[2020-03-23 16:26] alexfedoseev commented on #68
I.e. if only next value is required, then mentioned handlers can be used. But if developer uses event-based handler, then it means that there's something else needed from event and developer would be extracting stuff anyway, so it makes sense to keep `input => input` on react-native target.

[2020-03-23 17:38] alexfedoseev commented on #68
Also, does it makes sense to change blur handler so it accepts event as well for consistency?

[code]

[2020-03-24 09:29] alexfedoseev commented on #68
Implemented in #72

[2020-03-29 00:00] vasco3 opened #74 "how do you use re-formality within a table?"
I have some tables that have editable cells. html tables don't accept nested <form>.
how do you recommend handling this case with re-formality?

[2020-03-29 09:04] alexfedoseev commented on #74
Probably, one of these suggestions might work for you: https://stackoverflow.com/questions/5967564/form-inside-a-table

[2020-03-29 22:09] vasco3 commented on #74
that helps, thanks

[2020-03-29 22:09] #74 closed

[2020-04-03 09:58] shubhamgupta731 opened #77 "Form being submitted even when validations are failing"
I have created the following form component:

[code]

However, when we submit the form (using the submit button), the form is getting submitted even when the validation for the field returns an error. However, I am able to correct the behavior if I change the `onSubmit` in the form to:

[code]

Is there a mistake in the way I am using the ppx?

[2020-04-03 10:28] shubhamgupta731 commented on #77
I think we need to prevent the default behavior of the submission event.

[2020-04-05 11:19] alexfedoseev commented on #77
@shubhamgupta731 Yes, you are right that default behavior should be prevented and it is [mentioned in the docs](https://github.com/MinimaHQ/re-formality/blob/master/docs/04-BasicUsage.md#form--tag). It was left out to user land for 2 reasons:
1. ReactNative doesn't have to deal with events so it would be impossible to use submit function in ReactNative app (though in recent commits I introduced ta

[2020-04-06 07:27] shubhamgupta731 commented on #77
Sure, I understand. But can we update `form` to `Form` so that it becomes clear for anyone that we are talking about a custom component and provide a hyperlink to the [form component ](https://github.com/MinimaHQ/re-formality/blob/master/examples/src/Form.re) that you use in your examples?

[2020-04-10 10:27] alexfedoseev commented on #77
Yeah, we should address it one way or another. I'm not sure which way though :)

Lemme articulate the options:

1. Handle `preventDefault` on submit in `form.submit` handler when `target` is `ReactDom`.
[code]
Pros: user don't need to think about it.
Cons:
- users probably handle it in their apps and it might require update of their internal APIs
- there might be cases when we would break users wh

[2020-04-15 08:44] alexfedoseev commented on #68
We faced the case when implemented change didn't work. The current update handler expects that event is always of `ReactEvent.Form.t` but it's not always the case. E.g. when a state gets updated via some fancy UI control (like DatePicker), an event might be of another type (`ReactEvent.Mouse.t` or `ReactEvent.Keyboard.t` etc). So guessing we will need to update the current interface so update hand

[2020-04-15 08:48] alexfedoseev commented on #68
I'm not sure that there can't be the case when there is no event provided at all. E.g. some custom component exposes just string. In this case, event capturing wouldn't work.

[2020-04-16 16:08] johnhaley81 commented on #68
@alexfedoseev looking at how different components can be passing back values, I think assuming a specific type of value is coming back is probably a misstep. While putting `{target: ReactNative}` is a work-around, that's not a good DX.

I think reverting #72 is a good move unfortunately.

Instead of assuming the type of value coming in, we could have the updater functions be in the form of:

[code

[2020-04-22 16:36] alexfedoseev commented on #68
@johnhaley81 Sorry for the delay, passing in value makes sense and it's done in #78. Can you review it, please?

[2020-04-22 18:37] #68 closed

[2020-04-22 19:36] #77 closed

[2020-04-29 03:56] faseidl opened #81 "File upload example -- <input type="file"> handling"
Can you provide (or point me to) an example of using re-formality to create a file upload form? I've not been able to figure out how to handle &lt;input type="file"&gt; fields.

[2020-04-30 14:28] alexfedoseev opened #82 "Optional `metadata` type"
Sometimes, converting `input` to `output` requires some additional metadata. E.g. there is a select in UI with a list of items, each item is of `Foo.t` type which is a record `{id: int, label: string}`. Select's value is stringified `id`. In the output, there should be `Foo.t`. To get the output value in validator, `array(Foo.t)` is required.

It's achievable in the current state of things by:
- s

[2020-04-30 17:17] alexfedoseev commented on #81
@faseidl It should be pretty much the same way as you handle text input:

[code]

P.S. I didn't run the example. Let me know if it doesn't work.

[2020-04-30 22:43] faseidl commented on #81
Thanks, Alex! That was a big help! I didn't know about the Webapi module and was at a loss for how to declare the input and access the event data.

[2020-04-30 23:30] faseidl commented on #81
Now, the question becomes, how does one take the File object and make a POST request that sends it to a server in ReasonML? Googling for an hour only seems to suggest that nobody has quite figured out how to do the appropriate ReasonML bindings for FormData.

[2020-05-01 10:14] alexfedoseev commented on #81
Yeah, [`bs-webapi`](https://github.com/reasonml-community/bs-webapi-incubator) is essential for working with the DOM.

Though it doesn't have `FormData` bindings yet and I have it implemented internally. This example should give an idea:

[code]

[2020-05-01 22:38] faseidl commented on #81
Ah, your approach is tighter than what I came up with:

[code]

[2020-05-04 09:31] alexfedoseev commented on #81
I believe it can be closed. Feel free to re-open if you have any other questions.

[2020-05-04 10:41] #81 closed

[2020-05-04 19:41] johnhaley81 commented on #82
We have this use case quite often and so far we have been putting it into another field on the `input` which is definitely clumsy and doesn't feel correct. Adding a `data` or `metadata` sounds like a fantastic change to me.

[2020-05-05 06:53] alexfedoseev commented on #82
`metadata` sounds perfect 👍

[2020-05-12 14:20] alexfedoseev opened #84 "Record aliases"
The requirement of having record definitions inlined might be inconvenient when some type already exists and used across the app.

It's not possible to avoid inlining since PPX would need type information to generate the proper code, but it can be handled somewhat better:

[code]

An inlined record can be aliased to an existing type in generated code. It would still be required to duplicate record

[2020-05-14 17:40] BlueHotDog commented on #44
Hi, coming to this from a similar usecase, i understand the suggested solution is not what @alexfedoseev wants, but. what's the way to actually do that?

[2020-05-15 07:39] alexfedoseev commented on #44
@BlueHotDog Can you elaborate on details?

[2020-05-17 08:19] BlueHotDog commented on #44
Actually, managed to resolve this by using :
[code]
from within an effect

[2020-05-17 08:39] alexfedoseev commented on #44
Yeah, with hooks api it’s way easier to trigger such updates. Good thing we changed api to `input => input` shape to avoid stale input issues. Props to @johnhaley81!

[2020-05-19 11:44] alexfedoseev opened #85 "Collections nesting"
Making collections nesting recursive is not trivial. But we should support at least 1 level of nesting.

[2020-05-19 11:49] alexfedoseev commented on #56
I will update `onSubmit` signature so it receives `result((output, cb), unit)` instead of `output, cb` arguments, so it would be possible to invoke effects on `Error()`.

[2020-05-20 20:23] EnriqueVidal commented on #44
I am currently stuck on this, my form is an edit form which means that I need to fetch data from apollo and pass it into the `~initialInput` argument of `useForm`, when the page is sever rendered this works fine since apollo will wait for all queries to be resolved but when client side navigating into the form the form won't update once the page is done fetching.

I figured I would only call `useF

[2020-05-20 22:53] EnriqueVidal commented on #44
Got it to work byt rendering the `switch` to the async data itself rather than the component with props by itself, that said I'd like to know if there's a more elegant way to do this

[2020-05-23 08:19] alexfedoseev commented on #69
As an option:

[code]

Not sure about `Abstract` & `Record` naming, prolly ok.

[2020-06-09 08:44] Prateek13727 opened #86 "form.updateField [value type is automatically derived from the input type.]"
Hey Fellas,

First of all thank-you for creating a wonderful way to handle forms in Reason-React. The ppx version is even better :)

**The Issue:**
The value type is automatically derived from the input type. This becomes an issue when my input type in the form state is something other than a string say integer

`  type input = {amount: int)};`

[code]

**The Use-case**
1.) We type abc in the inpu

[2020-06-09 11:05] alexfedoseev commented on #86
Hi @Prateek13727, the root of the issue is that `event->ReactEvent.Form.target##value` is unsafe. The result of `event->ReactEvent.Form.target` is `Js.t({..})`—opened object—and compiler happily infers types of contents by its usage. So if you pass `target##value` to a function that expects `int`, the compiler would infer its type as `int`. In reality though, the type of `target##value` is `string

[2020-06-09 13:23] Prateek13727 commented on #86
Hey @alexfedoseev

Thanks for your reply and the solution. Using %idenity is a good workaround for type casting Js.t({}) to ReasonML record.

Let me know if its a good idea to keep this issue open for a while for discussions?

Thanks
Prateek

[2020-06-09 13:26] alexfedoseev commented on #86
@Prateek13727 No problem. Prolly makes sense to create an issue in `reason-react` repo as well.

[2020-06-09 13:31] alexfedoseev commented on #86
As a side note, in one of the early versions of `reason-react` event target was properly typed as `Dom.eventTarget` but IIRC it was changed b/c it was quite non-trivial getting value out of it using `Webapi`.

[2020-10-12 14:55] kgoggin opened #89 "Backwards compatibility in 4.0"
I've been using the 4.0 beta in a new project, and really loving the PPX approach and how much less boilerplate I have to write - really nice job with that!

I've also got a project with a _lot_ of forms that are currently on v3 API. I'd love to upgrade to v4 to start using the PPX, but don't want to have to upgrade everything in one shot. It _looks_ like you've included the v3 API under Formality

[2020-10-13 05:47] alexfedoseev commented on #89
It will be shipped with v4. I don’t mind keeping it as long as users need it. As a last resort, it can be extracted into a stand-alone package.

[2020-10-15 14:40] #89 closed

[2020-10-28 15:27] kivi opened #90 "Could not resolve re-formality/ppx"
I am on Windows 10 and I am trying to update old re-formality to the latest one.

[code]

When I do: `bsb -make-world` I get:

[code]

[2020-10-29 13:05] alexfedoseev commented on #90
Hi, it would require [this change](https://github.com/MinimaHQ/res-logger/blob/master/.github/workflows/scripts/postinstall.js#L35-L43) to be applied to this repo. Will do this within next couple of days.

[2020-11-02 16:21] #90 closed

[2020-11-03 14:28] ashutheone commented on #90
Hi @kivi
We faced a similar problem when we were trying to build in a Docker container. We update the alpine linux version for our container and then we added the latest version of compatible GNU C library version. We ended up making following changes in our Dockerfile which solved this problem for us.

FROM node:12-alpine
`RUN wget -q -O /etc/apk/keys/sgerrand.rsa.pub https://alpine-pkgs.sgerrand

[2020-11-03 14:36] alexfedoseev commented on #90
I hope it was fixed for windows users in the latest release I did yesterday. (@kivi Please, let me know) But apparently it broke something on Linux. Not sure why though. @ashutheone can you open another issue? I can't promise I will solve it immediately but at least it will be on my radar.

[2020-11-03 16:46] kivi commented on #90
works now on windows.
Version: ^4.0.0-beta.9

[2020-11-04 05:42] ashutheone opened #92 "Problem building on Alpine"
While trying to build with **4.0.0-beta.8 version** on node:alpine in Docker container image, we ran into following errors:

`sh: /node_modules/re-formality/ppx: not  #found`
`  We've found a bug for you!`
`  /app/presentation/views/CommonViews.re`
`  Error while running external preprocessor`

We then tried with **4.0.0-beta.9 version** and this error persisted.

[2020-11-04 05:43] ashutheone commented on #92
See [Original post](https://github.com/MinimaHQ/re-formality/issues/90#issuecomment-721153959) for a workaround.

[2020-11-07 18:52] dan003400 opened #93 "Implement a useFormContext hook"
The ability to create a Form context that can be accessed from anywhere similar to how Formik does it would be super useful.

https://formik.org/docs/api/useFormikContext

[2020-11-11 03:49] johnhaley81 opened #94 "Async validation function for field required when creating the form definition"
# Issue

When using an async validator for a field, you have to have the function fully defined when you are writing out the form in the PPX. You are also not able to use any other fields inside of the form while executing the function. This is an issue when you require more data to finish the validation (say an OAuth token) since you can't use a partially applied function, nor reference a field i

[2020-11-12 08:33] alexfedoseev commented on #93
As per discussion on Discord, I think that props drilling is safer and enough ergonomic in Reason/ReScript, and I'd encourage preferring it over context in 99% of the cases in general. So I wouldn't increase the API and complexity of the library with this addition.

[2020-11-12 08:35] dan003400 commented on #93
Totally fair, I agree with that explanation.

[2020-11-12 08:50] alexfedoseev commented on #94
@johnhaley81 Will passing [`metadata`](https://github.com/MinimaHQ/re-formality/issues/82) to all (incl. async) validators help with this problem?

[2020-11-12 14:09] johnhaley81 commented on #94
Yeah, that would work well I think!

On Thu, Nov 12, 2020, 1:51 AM Alex Fedoseev <notifications@github.com>
wrote:

[2020-11-12 23:34] dan003400 commented on #82
We would love to have this concept to separate "hacky" fake inputs to a designated location to store data later needed to run validations.

One thing to mention here. We would require an API that allows us to update these `metadata` fields as these can be dynamic or change at a later time.

[2020-11-14 15:44] dan003400 commented on #82
I would love to help make this happen but the PPX stuff is a bit over my head, is there anything we can do to speed this feature up?

[2020-11-15 11:52] alexfedoseev commented on #82
@dan003400 I will look into this in upcoming weeks

[2021-02-13 12:20] #82 closed

[2021-02-13 12:45] alexfedoseev commented on #94
Closing since #95 merged.

[2021-02-13 12:45] #94 closed

[2021-02-21 18:45] johnridesabike opened #97 "Beta 11 can’t build on Netlify"
I upgraded to Beta 11 (and upgraded `reason-react` to `@rescript/react`) and the build now fails when deploying to Netlify.

A variation of this error appears for every file in my project:

[code]

Reverting to Beta 10 fixes the errors.

I can’t reproduce this on my local MacOS machine. I also tried some basic debugging (clearing Netlify cache, removing `node_modules`) but it didn’t make a differe

[2021-02-23 06:04] alexfedoseev commented on #97
I suspect it’s either changes in GH Actions env, or esy, or both. I’m not sure I will be able to look into this until the next month, unfortunately.

[2021-02-25 20:20] vasco3 commented on #97
I'm also having this issue in GH Actions and in Vercel.com

[2021-02-26 08:27] alexfedoseev commented on #97
There's a solution [on Discord](https://discord.com/channels/235176658175262720/235200837608144898) but I will be able to poke on it only next week. If anyone willing to submit a PR earlier, it will be totally welcomed :)

[2021-03-08 13:06] alexfedoseev commented on #97
I made some progress in #99 but it still fails with odd error. I'll comeback to it some time this week.

[2021-03-09 11:30] alexfedoseev commented on #97
@johnridesabike @vasco3 Would you mind trying out `4.0.0-beta.12`?

[2021-03-09 13:02] johnridesabike commented on #97
It still seems broken, although the error is different now

[code]

Deploying to Netlify. That error appears for every file in my project.

[2021-03-09 13:32] alexfedoseev commented on #97
@johnridesabike This is really weird. Do you know what linux setup they use? I'd spin up local Docker container to reproduce it locally.

Also, can you make sure that post-install scripts are not disabled on Netlify?

[2021-03-09 13:41] johnridesabike commented on #97
It looks like their build image is here: https://github.com/netlify/build-image
I’m using Ubuntu Xenial 16.04 (default).

AFAIK post-install scripts should work fine, since I believe some other packages I use depend on those. I’ll double-check though.

[2021-03-09 14:08] alexfedoseev commented on #97
Thanks! I will try it out tomorrow 👍

[2021-03-10 08:22] gaku-sei commented on #97
Just so you know this happens on Circle Ci as well using this Docker image: https://hub.docker.com/r/circleci/node

The error is the same as above: `sh: 1: /home/circleci/project/node_modules/re-formality/ppx: not found`. What's really weird is that the file actually exists 😕

Here is the output of
[code]

[code]

So the file exists but when called `sh` complains it can't be found.

[2021-03-10 12:03] alexfedoseev commented on #97
I did some googling and apparently it means the binary still misses a dependency. I was able to reproduce it locally in a  docker container but have no clue what's wrong with the way linux binary is built. I'm not very familiar with the Reason's native side of things and Dune though, so I might miss something obvious.

[2021-04-25 14:42] thehabbos007 commented on #97
Just weighing in as I had the same problem locally in WSL2
[code]
I was missing musl libc, so I tried installing with `apt` which still didn't work as it was an older version (1.1.19-1). It spewed errors about `secure_getenv: symbol not found`.

I then tried compiling http://musl.libc.org/ from source at 1.2.2 and made sure it was symlinked with `sudo ln -s /usr/local/musl/lib/libc.so /lib/libc.mu

[2021-05-09 07:02] dnmct opened #100 "Can't install re-formality on M1 mac"
When i try to install re-formality via yarn i get this error message that tells me to file an issue here, so here I am:

[code]

[2021-05-21 14:56] lessp commented on #44
Hmm, I wonder if I'm hitting a similar issue. I'm currently doing this, and I was expecting (perhaps wrongly) that the form would re-initialise when the `initialState` changes, but it's not. Is this the intended behaviour? @alexfedoseev

I'm using 3.2.0 here by the way!

[code]

[2021-05-23 09:22] #93 closed

[2021-05-23 09:22] #86 closed

[2021-05-23 09:30] alexfedoseev commented on #97
@thehabbos007 Thanks for the info! Quick question: is there anything I can do on the build side to make it work w/o a need in user linking?

[2021-05-23 09:33] alexfedoseev commented on #100
@dnmct Hey @dnmct, thanks for the issue! Unfortunately, I don't have M1 at hand, I need to research what needs to be done to support it. Can't give any ETA though.

[2021-05-23 10:16] thehabbos007 commented on #97
I can imagine statically building the ppx executable might be possible to make it work for all on linux?
Only problem would be increased binary size.

Changing the compiler to use glibc somehow for the ppx would also be a possibility, but it might break other usages (for alpine docker containers perhaps?)
I am not that familiar with esy/dune and the compiler, though so I can't give you any anecdot

[2021-05-23 10:26] alexfedoseev commented on #97
Gotcha, thanks for the input! Yeah, I tried to [build it statically](https://github.com/shakacode/re-formality/pull/99/files#diff-897b6bac6ef4d0c1b0a344e605423b96942a3d88e868794374778ed49d792c56R3), still couldn't make it work. But, as I mentioned, I'm too not very familiar with the Reason's native side of things and Dune, so I might miss something obvious.

[2021-05-23 10:29] thehabbos007 commented on #97
I did find this, though, https://github.com/reasonml-community/graphql-ppx/compare/v0.4.6...v0.4.9 which might be helpful!

[2021-05-27 09:48] alexfedoseev commented on #44
@lessp Sorry, missed your comment. Yeah, initial state change doesn't trigger reinitialization. I elaborated on why in [this comment](https://github.com/shakacode/re-formality/issues/44#issuecomment-466626999). You can workaround it by deriving a key from an initial state and apply it to form component so when key gets changed, component gets remounted.

[2021-05-27 09:52] alexfedoseev commented on #97
@thehabbos007 Thanks for the link! I actually looked into this and did a similar custom dockerfile but it didn't work unfortunately.

[2021-05-27 10:15] lessp commented on #44
Hey Alex, yeah, I worked around it, just wanted to make sure. 🙂 Thanks for the reply and keep up the good work!

[2021-06-10 13:27] isitrita opened #103 "Port solution for reason relay to reformality"
I found that similar issue with `GLIBC_2.29' not found ` which I am experiencing on Vercel for reformality ppx was fixed in https://github.com/zth/rescript-relay/pull/153/files following this discussion https://github.com/zth/rescript-relay/issues/152 and it might be fixed easily for Vercel environment

Could you port this fix to reformality ppx?

[code]

[2021-06-30 19:56] alexfedoseev commented on #103
Hi @isitrita,

It should be fixed in #104. Please, try the `4.0.0-beta.15`.

[2021-06-30 19:57] alexfedoseev commented on #97
Hey folks, I think I finally fixed the linux build. Please try `4.0.0-beta.15`.

[2021-07-01 21:10] dan003400 opened #105 "Request: updateMeta API"
Would it ever be considered to add an API for updating the metadata?

[2021-07-03 18:11] JasoonS commented on #97
@alexfedoseev Can confirm it is working for me. Thank you so much :pray:

[2021-07-05 13:21] johnridesabike commented on #97
I just upgraded a Netlify project to use beta 15 and it works!

[2021-07-05 17:09] alexfedoseev commented on #97
It was a stupid mistake that wasn't related to a static linking itself. Worth me a couple of days to solve. On CI, build step used static linking command was followed by the `esy x ...` test step, which overwrites the binary built with static linking. So this non-static binary was shipped.

[2021-07-05 18:10] alexfedoseev commented on #105
Formality doesn't store `metadata` internally. It passes what's been passed to the `useForm` hook. In case if async validators need fresh data, storing `metadata` in `ref` should work I believe.

[2021-07-06 12:13] #103 closed

[2021-07-06 12:13] alexfedoseev commented on #97
Fixed in #104.

[2021-07-06 12:13] #97 closed

[2021-07-06 12:15] alexfedoseev commented on #92
Should be fixed in #104. Please, reopen if it's still broken.

[2021-07-06 12:15] #92 closed

[2021-07-14 13:36] alexfedoseev commented on #100
Should be fixed in #106. Feel free to reopen if it doesn't work.

[2021-07-14 13:36] #100 closed

[2021-09-27 01:49] mightystrong opened #108 "Request: Support for arm64"
Requesting that re-formality work with arm64. User docker to build a container using the Docker desktop app for Apple M1 chip.

[code]

[2021-09-27 15:32] mightystrong commented on #108
Hope this helps others...

I was able to get to build using the [buildx](https://docs.docker.com/buildx/working-with-buildx/) command and by specifying the platform.

`docker buildx build --platform linux/amd64 -t yourimagename .`

It's possible you may need to add `RUN npm config set unsafe-perm true` after installing node to prevent the error in [this thread](https://stackoverflow.com/questions/

[2021-09-28 16:11] mightystrong commented on #108
Closing this out. Appears to be resolved by `4.0.0-beta.16`

[2021-09-28 16:11] #108 closed

[2021-11-22 18:49] maxkorp opened #109 "Native apple arm support"
Hi!
I'm in the process of trying to get everything on my team moved from rosetta to full native m1 support. Is there anything planned already? I'm happy to dedicate work hours or other resources to this if that is helpful. I've not done much with PPXs or any ocaml native builds of anything, but my primary focus on the team now is our tooling, and we use re-formality ppx heavily so I'm happy to div

[2021-11-23 18:31] alexfedoseev commented on #109
Hey @maxkorp! TBH I'm pretty much in the same boat in terms of native OCaml experience: it's limited to a couple of PPXes, and that's it. I haven't looked yet into native OCaml + apple silicon. I'd appreciate any help since I'm not sure when I'll be able to look into it. But definitely, not earlier than my new mac arrives. Retailer estimated Jan/Feb next year.

[2021-11-29 21:13] maxkorp commented on #109
Well previously I had to do some silly things to get esy working natively, although that appears to be fixed with the latest release (`0.6.12`) that came out the other day. Using that, I'm able to get re-formality to build natively, which was much easier than anticipated.

I guess the tricky part here will be publishing, since theres no apple arm64 boxes for github actions that I know of (I've als

[2021-12-16 11:15] happylinks commented on #109
Just because I missed it, for other people who come across this post: this seems already fixed in the latest beta because of https://github.com/shakacode/re-formality/pull/106, just update the package and it should work :)

[2021-12-27 13:35] #44 closed

[2022-01-05 23:10] maxkorp commented on #109
@happylinks so that allows it to work in rosetta (so running the x64 binary on arm via emulation). I'm talking about compiling it natively for arm64.

[2022-01-19 13:36] Prateek13727 commented on #97
Hey Folks,

Building my project with `rescript` and `re-formality` for the first time in docker and the ppx is failing. This works fine in my local.

Has anyone faced this issue before Or let me know, I am mssing something?  I have limited experience with Docker.

Cheers
Prateek

The Error Image
![image](https://user-images.githubusercontent.com/18599528/150138799-13054fed-52c4-47a1-a35f-b70cd0764

[2022-01-19 14:27] Prateek13727 commented on #97
This is fixed. The issue was, I was using `RUN ADD . ./ `command in Dockerfile after `RUN yarn install --ignore-engines --frozen-lockfile `. Hence the `/node_modules` from my local were overriding the `node_modules` in my docker container.

Also, `.dockerignore` will help

[2022-02-03 14:24] alexfedoseev commented on #109
@maxkorp @happylinks I finally got my M1 and I'll look into it sometime next week.

[2022-02-10 14:25] alexfedoseev commented on #109
@maxkorp Did you have issues compiling OCaml? I'm seeing this error:

[code]

[2022-02-20 21:02] #109 closed

[2022-03-18 16:29] lozlow opened #112 "Request: ability to set validation errors in form submission callback"
Our API validates requests as a whole using JSON schema and returns a list of issues that we would like to update the form state with. The schema includes more business-logic aspects that we wouldn't want to encode into the validators of the frontend. It would be very helpful if we could set the validation errors for each field in the form inside the submission callback. I'd be happy to contribute

[2022-05-24 16:36] gv-sothebys-ivar opened #113 "Slow build time when exceeding 20 fields in form"
Hi,

I'm using Re-Formality version `4.0.0.-beta-17` and noticed when exceeding more than 20 fields the build times goes up exponentially. In my project I need up to 50 fields and for that case it just doesn't even build.

I created a fresh project to test this, I only have one file implementing a simple form hook and added 20 fields to input, output and validate. I then added one field at a time

[2022-07-13 10:28] alexfedoseev commented on #113
Hi @gv-sothebys-ivar, thanks for the report. The earlier version was implemented without involving code generation, and the current one is a ppx.

That's unfortunate, but I won't be able to invest in this issue right now. Mainly due to being busy with relocation and the uncertainty of the future of PPXs in ReScript.

Let's review this in a couple of months.

[2022-07-13 10:43] alexfedoseev commented on #112
Hey @lozlow, thanks for pointing this out. Actually, this is intended behavior. Here's the reasoning behind this decision.

When a server responds with an error, such error contains information that the client doesn't have since the form was submitted, which means that the client considered the form valid. This information might be required for the user to address this error. But if the server err

[2022-09-26 01:19] Hanaffi opened #115 "Dependent fields docs is outdated"
Notice how we define dependent fields in docs (it would give you some error).
you should follow the new way as here
https://github.com/shakacode/re-formality/blob/master/examples/src/SignupForm.res

[2022-11-24 14:43] Hanaffi opened #117 "Reset state to editing after successful submit"
Can we reset the state to editing again after successful submit?
So that user can do multiple submit action.